h1 { 
bajsbaj
	font-size:300%; 
	margin: 0;
	text-align: center;
	/*background-color: lightblue; */
	padding: 2%;	
}

.HeaderLink {
	text-decoration: none;
	color:rgb(50,100,150);
}

.SlimFont {
	color: white;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size:125%;
	text-decoration:none
}

.TopMenu {
	background-color: grey;
	text-align: center;
	margin-top: 0;
	padding: 1.2%;
}

.TopLabel {
	display: inline;
	padding: 2%;
}

body {
	margin: 0;

}

