body {
 margin: 0;
}
body.main {
  background-color: gray;
}

div.main {
  background-color: white;
  border: 2px solid;
  overflow: hidden;
  max-width: 900px;
  margin: auto auto;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

/* HEAD STYLES */
#logo {
  float: left;
  width: 35%;
}
#name {
  font-family: serif;
  padding: 2% 2%;
  float:left;
  max-width: 63%;
  font-weight: 900;
}

#head {
  margin: 0px auto;
  width: 400px;
	overflow: auto;
}

/*
#head {
  overflow: auto;
  margin: 0px;
  width: 100%;
  float: left;
}
*/
/* ------------- */

/* Headmenu */
/*
#headMenu {
  clear: both;
  overflow: auto;
}
*/
#headMenu .active {
  background-color: #111;
}

#headMenu {
	clear: both;
	overflow: auto;
  list-style-type: none;
  margin: 0;
	padding: 0;
  background-color: #333;
	text-align: center;
}

#headMenu a {
	display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.submenu {
	overflow: auto;
  margin: 0;
	padding: 0;
  text-align: center;
}

.submenu a {
	color: black;
	margin: 0 10 0 10;
}

.submenu a:hover {
  color: grey; 
}


/* --------- */

.top {
  font-size: 270%;
}
.middle {
  font-size: 140%;
}
.low {
  font-size: 190%;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
div.center {
  margin: 0px auto;
  width: 400px;
}
div.bar {
  clear: both;
  margin: auto;
  width: 95%;
}
.link {
  width: 14.32%;
  padding: 20px 10px;
  float: left;
  text-align: center;
  font-weight:600;
  font-family: sans-serif;
  min-width: 110px;
}
div.active {
  background-color: #dddddd; 
}
div.link:hover {
  background-color: orange;
}

/* CONTENT STYLES */

#page {
  min-height: 15cm;
}

#content {
  margin: 0px;
  float: left;
  z-index: -1;
}
.single {
  width: 100%;
}
.double {
  width: 75%;
}
/*SIDE LINK STYLES*/

.sidelinkborder {
  width: 25%;
  margin: 0px;
  float: left;
}

#side {
  background-color: #eeeeee;
  width:99%;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#side .active {
  background-color: #dddddd;
}

.sidelink {
  width: 100%;
  float:left;
  padding: 16px 0 16px 0;
  /*display: block;*/
  word-wrap: break-word;
	color: black;
	text-decoration: none;
	text-align: center;
}

.sidelink:hover {
  background-color: orange;
  cursor: pointer;
}

.sidelink .title {
  text-align: center;
  width: 100%;
  float: left;
}

.sidelink .date {
  text-align: center;
  width: 50%;
  float: left;
}

.sidelink .time {
  text-align: center;
  width: 50%;
  float: left;
}



.sidesublink {
	text-decoration: none;
	color: black;
  padding: 2px 0 2px 0;
}

.sidesublink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bigtext {
  font-size: 80%;
  font-weight: 600;

}
.smalltext {
  font-size: 70%;
}
/* FOOT STYLES */

#foot {
  text-align: center;
  background-color: #333;
  min-height: 50px;
  overflow: auto;
}

#foot h2 {
  color: #95CED8;
}

#foot p {
  color: white;
}


h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: black;
  text-align: center;
}
div.ingress {
  margin: 0 0;
  text-align: justify;
  float: left;
  width: 100%;
  font-weight: 600;
}
p.text {
  margin: 20px 0;
  text-align: justify;
  font-size: 90%;
}

.news-free-text {
	white-space: pre-wrap;
	display: inline;
	margin: 20px 0 40px 0;
  text-align: justify;
  font-size: 90%;
}

figure.newsimage {
  width: 60%;
  float: right;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid;
}
figcaption {
  font-size: 70%;
}
div.padding {
  margin: auto auto;
  width: 97%;
	padding-bottom: 5%;
}
table {
  margin-left: auto;
  margin-right: auto;
}

.center {
	text-align: center;
}
