{% extends "association/association.html" %}

{% block content %}

<div class="padding">
<h2>OM ÅRSBC</h2>
  <p class="text">
Gemenskap, kamratskap och öppenhet är tre kännetecken för dagens bridgeförening. Föreningen är inte större än sina medlemmars engagemang och den gemytliga stämningen som präglar spelkvällarna är allt tack vare den ungefär 10 personer stora skara som i dagsläget deltar och spelar tillsammans. För att förstå hur vi kommit dit vi befinner oss idag behöver vi gå tillbaka några år i tiden.
  </p>
  <p class="text">
2013 börjar historien om hur ett antal barndomsvänner började ta sina vacklande steg på den bridgebana de befinner sig på idag. En anfader till en av kompisarna hade sedan en tid gått bort och efterlämnade i arv ett antal budbrickor, bridgekortlekar och en nybörjarbok i bridge (denna arvslott utgör än idag ett betydande bidrag för dagens medlemmar).
  </p>
    <p class="text">
Motivet att engagera sina vänner i bridge är, för den anhörige till den bortgångne, antingen bortglömt eller förträngt. Oavsett om det berodde på den efterlevandes skuldkänslor eller en genuin nyfikenhet för bridgens vackra och komplicerade natur så introducerades så småningom kortspelet bridge för vännerna.
    </p>
    <p class="text">
Många historier går att höra från den tiden, tiden före bildandet av föreningen som kommit att förklara hur och varför föreningen uppstått. I början spelade kompisarna bridge med flera månaders mellanrum och det var minst sagt lätt att glömma bort vad de tidigare lärt sig. 2014 och 2015 skedde en långsam upptrappning av hur ofta de träffades för bridgens skull och så småningom kläcktes idén om att starta en egen förening.
    </p>
    <p class="text">
Hösten 2015 grundades Ålidhem royal bridge club då medlemmarna kom att vilja organisera sitt bridgespelande i föreningsform. Grundarnas ambition var att inkludera så många vänner, vänners vänner och vänners vänners vänner som möjligt för att spela bridge på en sällskaplig nivå. I skrivande stund i begynnelsen av 2016 har medlemsantalet fördubblats och antalet personer som provat på bridge tillsammans med oss uppgår till runt 15 personer. Torsdagsbridgen har blivit en stadig företeelse, en hemsida har jobbats fram och föreningen har anslutit sig till Sverok. Vi hoppas på en fortsatt rolig utveckling där vi får lära känna nya personer som vill prova på!
    </p>
    <p class="text">VÄLKOMMEN!</p>
</div>

{% endblock %}
