body {
 margin: 0;
}
body.main {
  background-color: gray;
}

div.main {
  background-color: white;
  border: 2px solid;
  overflow: hidden;
  max-width: 900px;
  margin: auto auto;
}

.pageHeight {
  
}

.compress {
  background-color: white;
  /*border: 2px solid;*/
  overflow: hidden;
  max-width: 900px;
  margin: auto auto;
  border-top-style: none;
  border-bottom-style: none;
  min-height: 400px;
}

/* HEAD STYLES */
#logo {
  float: left;
  width: 35%;
}
#name {
  font-family: serif;
  padding: 2% 2%;
  float:left;
  max-width: 63%;
  font-weight: 900;
}

#head {

}

/* ------------- */

/* Headmenu */

#headMenu {
  clear: both;
  overflow: auto;
}

#headMenu .active {
  background-color: #111;
}

#headMenu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

ul a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

/* Remove when bootstrap is removed */
ul a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


/* --------- */

.top {
  font-size: 270%;
}
.middle {
  font-size: 140%;
}
.low {
  font-size: 190%;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
div.center {
  margin: 0px auto;
  width: 350px;
}
div.bar {
  clear: both;
  margin: auto;
  width: 95%;
}
div.link {
  width: 14.32%;
  padding: 20px 10px;
  float: left;
  text-align: center;
  font-weight:600;
  font-family: sans-serif;
  min-width: 110px;
}
div.active {
  background-color: #dddddd; 
}
div.link:hover {
  background-color: orange;
}

/* CONTENT STYLES */

#page {
  min-height: 15cm;
}

#content {
  margin: 0px;
  float: left;
}
.single {
  width: 100%;
}
.double {
  width: 70%;
}
/*SIDE LINK STYLES*/

.sidelinkborder {
  width: 25%;
  margin: 0px;
  float: left;
}

#side {
  background-color: #eeeeee;
  width:99%;
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

#side .active {
  background-color: #dddddd;
}

li.sidelink {
  width: 100%;
  float:left;
  padding: 16px 2.5%;
  display: block;
}

.sidelink .title {
  display: block;
  text-align: center;
  width: 100%;
  float: left;
}

.sidelink .date {
  float: left;
  
}

.sidelink .time {
  float: right;
  
}

.sidelink:hover {
  background-color: orange;
  cursor: pointer;
}
.bigtext {
  font-size: 80%;
  font-weight: 600;

}
.smalltext {
  font-size: 70%;
}
/* FOOT STYLES */

#foot {
  text-align: center;
  background-color: #333;
  min-height: 50px;
  overflow: auto;
}

#foot h2 {
  color: #95CED8;
}




h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: black;
  text-align: center;
}
div.ingress {
  margin: 0 0;
  text-align: justify;
  float: left;
  width: 100%;
  font-weight: 600;
}
p.text {
  margin: 20px 0;
  text-align: justify;
  font-size: 90%;
}
figure.newsimage {
  width: 60%;
  float: right;
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid;
}
figcaption {
  font-size: 70%;
}
div.padding {
  margin: auto auto;
  width: 97%;
}
table {
  margin-left: auto;
  margin-right: auto;
}


/* Home */


/* Forum */

.forumMarginTop {
  margin-top: 15px;
}

.panel-body {
  word-wrap: break-word;
}

.messageTextarea { 
  white-space: pre-wrap;
}



